*target*
*.log
target
*.class
*.out
.classpath
.project
stacktrace.log
test/reports
.settings
.log
*.script
*web-app/WEB-INF/*
.orig
*.swp
*.iml
*.ipr
*.iws
dump.rdb
target-eclipse/
nohup.out
ml-build/
.DS_Store
